[Unit]
Description=Bgdict uWSGI server
After=syslog.target network.target postgresql.service

[Service]
ExecStartPre=-mkdir -p /run/bgdict
ExecStartPre=-chown www-data:www-data /run/bgdict
ExecStart=/usr/bin/uwsgi --uid www-data --gid www-data --ini /etc/bgdict/uwsgi.ini \
           --logto /var/log/uwsgi/bgdict.log

RuntimeDirectory=/
Restart=always
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all

[Install]
WantedBy=multi-user.target
