<!DOCTYPE html>
<html>
<head>
    <title>BGDict{% if search %} - {{ search }}{% endif %}</title>
    <link href="/static/css/default.css" rel="stylesheet" type="text/css">
    <link href="/static/css/night.css" rel="alternate stylesheet" title="Night" type="text/css">

{% if full %}
    <!-- jQuery 3.1.0 -->

    <script src="/static/jquery/jquery.min.js"></script>
    
    <!-- jQuery UI theme or Bootstrap (optional, if you create a custom theme) 1.12.0 -->
    <link href="/static/jquery/jquery-ui.css" rel="stylesheet">
    <!-- <link href="/statc/kbd/css/bootstrap.min.css" rel="stylesheet"> -->
    
    <!-- jQuery UI position utility (optional, if you position the keyboard yourself) -->
    <script src="/static/jquery/jquery-ui.min.js"></script>
    
    <!-- keyboard widget css & script -->
    <link href="/static/kbd/css/keyboard.min.css" rel="stylesheet">
    <script src="/static/kbd/js/jquery.keyboard.js"></script>
    <!-- <script src="/static/kbd/layouts/keyboard-layouts-greywyvern.min.js"></script> -->
    
    <!-- css for the preview keyset extension -->
    <link href="/static/kbd/css/keyboard-previewkeyset.min.css" rel="stylesheet">
    <script type="application/javascript">
        $(document).ready(function () {
            let urlParams = new URLSearchParams(window.location.search);
            if (urlParams.has('search') && $('#id_search').length) {
                $('#id_search').val(urlParams.get('search'));
            }

            $('#id_search').keyboard({
                layout: 'custom',
                //layout: 'bg-ph',
                //layout: 'bg',
                customLayout: {
                    normal: ["у е и ш щ к с д з ц","ь я а о ж г т н В м ч","Ю й ъ э ф х п р л б","{space} {b}"]
                },
                usePreview: false,
                openOn: '',
                appendTo: '#formdiv',
                autoAccept: true,
                display: {
                    'accept': '',
                    'tab': ''
                }
            });
            $('button').click(function(){
                $('#id_search').getkeyboard().reveal();
                return false;
            });
        });
    </script>
{% else %}
    <script type="application/javascript">
        window.onload = function() {
            if(!window.location.hash) {
                window.location = window.location + '#loaded';
                window.location.reload();
                }
            }
    </script>
{% endif %}
</head>
<body>

{% if full %}
<div id="formdiv">
    <form>
        <input type="text" name="search" maxlength="1024" required="" id="id_search">
        <input type="submit" value="Search">
        <button value="Keyboard">🇧🇬</button>
        <a href="/">Clear</a>
    </form>
</div>
<hr>
{% endif %}

{{ msg }}
<hr>
{% if results %}
    <div style="width: 50%;">
        {% for r in results %}
            {{ r.to_html }}
            <hr>
        {% endfor %}
    </div>
{% endif %}

{% if panels %}
    {% for panel in panels %}
        <div style="padding: 10px; float: left; width: 30%; {% if forloop.counter0 == 1 %}background-color: #e0f0f0; height: 100%;{% endif %}">
            {{ panel.title }}
            <hr>
            {% for w in panel.words %}
                {{ w.to_html }}
                <hr>
            {% endfor %}
        </div>
    {% endfor %}
{% endif %}

</body>
</html>
